In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"D:\ACADEMICS\SEM6\AI\AI Lab\iris.csv")

In [6]:
df

      ID  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0      1           5.1          3.5           1.4          0.2     setosa
1      2           4.9          3.0           1.4          0.2     setosa
2      3           4.7          3.2           1.3          0.2     setosa
3      4           4.6          3.1           1.5          0.2     setosa
4      5           5.0          3.6           1.4          0.2     setosa
..   ...           ...          ...           ...          ...        ...
145  146           6.7          3.0           5.2          2.3  virginica
146  147           6.3          2.5           5.0          1.9  virginica
147  148           6.5          3.0           5.2          2.0  virginica
148  149           6.2          3.4           5.4          2.3  virginica
149  150           5.9          3.0           5.1          1.8  virginica

[150 rows x 6 columns]

In [7]:
features = df.iloc[:,[1,2,3,4]]
features

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [9]:
df['Species'] = le.fit_transform(df['Species'])

In [10]:
df['Species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [11]:
labels = df['Species']
labels

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [12]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(features,labels,test_size=0.2,random_state=1)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
scaled_xtrain = scaler.fit_transform(xtrain)
scaled_xtest = scaler.fit_transform(xtest)

In [15]:
df.Species.value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

Hence a balnced dataset

In [16]:
from sklearn.neighbors import KNeighborsClassifier
modelKNN = KNeighborsClassifier(n_neighbors=13)
modelKNN.fit(scaled_xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=13, p=2,
                     weights='uniform')

In [17]:
prd = modelKNN.predict(scaled_xtest)

In [18]:
prd

array([0, 1, 1, 0, 2, 2, 2, 0, 0, 2, 1, 0, 2, 2, 2, 0, 1, 1, 0, 0, 1, 1,
       2, 0, 2, 1, 0, 0, 1, 2])

In [19]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,prd)

array([[11,  0,  0],
       [ 0,  9,  4],
       [ 0,  0,  6]], dtype=int64)

In [20]:
from sklearn.metrics import classification_report
print(classification_report(ytest,prd))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.69      0.82        13
           2       0.60      1.00      0.75         6

    accuracy                           0.87        30
   macro avg       0.87      0.90      0.86        30
weighted avg       0.92      0.87      0.87        30

In [21]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(ytest,prd))

Accuracy: 0.8666666666666667

In [28]:
new_input = [[-0.07829545,  1.70946556, -1.3642592 , -1.32113381]]
new_output = modelKNN.predict(new_input)
print(new_output)

[0]

Hence the given custom belongs to category '0' as predicted by the model